@import url('../css/fonts.css');

html, body{
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root{

/* -- font families -- */

--PatuaOne: 'PatuaOne', serif;
--Montserrat: 'Montserrat', serif;

/* -- theme colors -- */

--text-white: #ffffff;
--text-gray: #262626;
--bg-color: #000000;
--bloodred: #7E0000;

/* -- gradient colors --*/

--cocktail: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}

/* -- global classes -- */
a{
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul{
  list-style-type: none;
}

/*--nav--*/
.nav{
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
}

.nav .nav-menu{
  justify-content: space-between;
}

.nav .nav-items{
  list-style-type: none;
  display: flex;
  margin: 0;
}
.nav .nav-items .nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family:
}

.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--PatuaOne);
  font-size: 1.6rem
}

.nav .social{
  padding: 1.4rem 0
}

/*--x-nav-x--*/
