@import url('../css/fonts.css');

html, body{
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #262626;
}

:root{
/* -- font families -- */

--PatuaOne: 'PatuaOne', serif;
--Montserrat: 'Montserrat', serif;

/* -- theme colors -- */

--white: #ffffff;
--black: #000000;
--light-gray: #636363;
--bg-color: #000000;
--blood-red: #7E0000;
--dark-gray: #262626;

/* -- gradient colors --*/

--glass: linear-gradient(to top, #dfe9f3 0%, white 100%);
--premdark: linear-gradient(to right, #434343 0%, black 100%);
--polite: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}

/* -- global classes -- */
a{
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul{
  list-style-type: none;
}

h1{
  font-family: var(--PatuaOne);
  font-size: 2.5rem;
  color: var(--white);
}

h3{
  font-family: var(--Montserrat);
  font-size: 1.1rem;
  color: var(--white);
}
button.btn{
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Montserrat);
  cursor: pointer;
}
/* -x- global classes -x- */

/*--navigation--*/
.nav{
  background: black;
  position: relative;
  z-index: 999;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
}

.nav .nav-menu{
  justify-content: space-between;
}

.nav .nav-items{
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Montserrat);
  font-size: 1.1rem;
  color: var(--white);
}
.nav .nav-items .nav-link:hover{
  background-color: var(--blood-red);
}
.nav .nav-items .nav-link:hover a{
  color: var(--light-gray);
}

.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--PatuaOne);
  font-size: 2.5rem;
  color: var(--white);
}

.nav .social{
  padding: 1.4rem 0;
}

.nav .social i{
  padding: 0 .2rem;
  color: var(--white);
  font-size: 1.8rem;
}

.nav .social i:hover{
  color: #e0001e;
}
.logo{
}
/*--x-nav-x--*/

/*----- main contents ----*/

/*---- site title ----*/
main .site-title{
  background: url('https://i.postimg.cc/ZKvqgtbd/afterlight-11.jpg');
  background-size: cover;
  height: 110vh;
  justify-content: center;
}

main .site-title .site-background{
  padding-top: 10rem;
  text-align: center;
  color: var(--white);
}

main .site-title h1, h3{
  margin: .3rem;
  padding-top: 2.1rem;
  text-align: center;
  color: var(--white);
  text-shadow: 2px 2px #000000;
}

main .site-title .btn{
  margin: auto;
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  background: var(--polite);
  color: var(--white);
}

main .site-title .btn:hover{
  background: var(--white);
  border: 2px solid var(--black);
  color: var(--dark-gray);
}
/*--x-- site title --x--*/

/* ---- img gallery ---*/
.image{
  position: absolute;
 width: 400px;
 height: 400px;
 z-index:3;
 top: 50%;
 left: 50%;
 margin: -100px 0 0 -150px;
 background: red;
}
.image-1{
  display: block;
  width: 100%;
}
.image-2{
  display: block;
  width: 100%;
}
.image-overlay{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  font-family: var(--Montserrat);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image-overlay:hover{
  opacity: 1;
}
.image-overlay:hover > * {
  transform: translateY(0px);
}
.image-title{
  font-size: 2em;
  font-weight: regular;
  font-family: var(--PatuaOne);
}
.image-description{
  font-size: 1.25em;
  margin-top: .25em;
}

/* --x-- img gallery -x-*/

/*--x--- main contents --x--*/

/* --- shop ---*/

/* --x- shop -x--*/
